body{
    font-size: 20px;
    font-family: helvetica;
    background-color: #fff7f7;
}
.done{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    position: fixed;
    right: 37%;
    font-weight: 100;
    color: #5c78ef;
    top: 34%;
    font-size: 620%;
}
.navigation{
    position: fixed;
    bottom: 50px;
    display: none;
}
ul{
    list-style: none;
    background-color: #acaaaa;
    padding-bottom: 50px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    background-color: inherit;
    padding: 12px 25px;
    border-radius: 100px;
    border: 1px solid transparent;
    transition: background-color 0.5s, border 0.5s;
}
a:hover{
    background-color: #c4f4f8;
    border: 1px solid black;
    color:black;
}
li{
    margin-bottom: 50px;
}
.doner{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.sp{
    position: fixed;
    margin-top: 45%;
    display: block;
    color: black;
    transition: background 0.5s,border 0.5s;
    margin-left: 45%;
    background-color: #d3fcfc;
    border: 1px solid transparent;
    border-radius: 100px;
}
.sp:hover{
    background-color: #c8e3e3;
}
.right-aligned{
    top:8%;
    position: fixed;
    float: left;
    text-align: left;
    padding-right: 25px;
}
.left-alligned{
    top :8%;
    position: fixed;
    float: right;
    right: 125px;
    text-align: right;
    padding-right: 15px;
}
.center-alligned{
    position: fixed;
    right: 47%;
    top: 8%;
    text-align: center;
    padding-right: 15px;
}
.labels {
    text-align: center;
}

p {
    text-align: center;
    color: #88fc7f;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.special {
    right: 20px;
    bottom: 20px;
}
