/*rgb(0, 232, 214)*/
/*rgb(3, 183, 169)*/
body{
    font-family: helvetica;
}
.Main{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(Main%20Pic.jpg);
    padding: 25% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    color: rgba(0, 232, 214, 0.1);
    transition: color 1s;
}

.Main:hover{
    color: rgb(0, 232, 214);
}
.sub-heading{
    text-transform: capitalize;
    text-align: center;
    color: #7c7c7c;
}

.Pick_{
    list-style: none;
    display: flex;
    max-width: 91%;
    padding-left: 0px
}
.Pick_Element {
    padding: 5px 16%;
    border-radius: 14px;
    border: 1px solid transparent;
    margin-right: 3%;
    transition: border 2s;
    transition: background 1s;
    transition: color 1s;

    background-color: rgb(0, 232, 214)
}
.Pick_Element:hover{
    border-bottom: 1px solid rgb(3, 183, 169);
    background-color: rgb(3, 183, 169);
    color: white;
}


.Pick {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
