/*rgb(0, 232, 214)*/
/*rgb(3, 183, 169)*/
body{
    font-family: helvetica;
}
.Main{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(Main%20Pic.jpg);
    padding: 25% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    color: rgba(0, 232, 214, 0.1);
    text-transform: capitalize;
    transition: color 1s;
    display: grid;
    grid-template-rows: auto;
    
}

.Main:hover{
    color: rgb(0, 232, 214);
}
.sub-heading{
    text-transform: capitalize;
    text-align: center;
    color: rgb(111, 111, 111);
    margin-top: 20px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.Pick_{
    list-style: none;
    max-width: 91%;
    
    display: grid;
    padding-left: 0px;
    grid-template-columns: auto auto auto;
    margin: auto;
}
.Pick_Element {
    padding: 5px 14%;
    border-radius: 14px;
    border: 1px solid transparent;
    margin-right: 3%;
    transition: border 1s;
    transition: color 1s;
    color: black;
    transition: background 1s;
    background-color: rgb(0, 232, 214);
}
.Pick_Element:hover{
    border-bottom: 1px solid rgb(3, 183, 169);
    background-color: rgb(3, 183, 169);
    color: white;
}


.Pick {
    max-width: 100%;
    text-align: center;
    margin: 25% auto;
}
.co{
    background-color: rgba(0, 0, 0, 0.1);
}
.sub_heading_dash {
    text-align: center;
    color: rgb(3, 183, 169);
}
.section{
    /*margin-bottom: 5%;*/
}

.para {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    
}

.para-headding {
    margin-top: 50px;
    color: red;
    font-size: 110%
}


.para_object {
    padding: 0px 25%;
    font-family: MathJax_Caligraphic;
}
