body{
    background-color: #ffffff;
    font-size: 20px;
    font-family: Arial;
}
h1{
}

.Main_heading {
    font-weight: 10;
    color: white;
    text-transform: capitalize;
    text-align: left;
    padding-top: 400px;
    padding-bottom: 500px;
    padding-left: 18%;
    background-image:linear-gradient(rgba(86, 85, 85, 0.7), rgba(86, 85, 85, 0.7)), url(https://gamepedia.cursecdn.com/minecraft_gamepedia/thumb/c/cb/Java_Edition_1.16.1.png/280px-Java_Edition_1.16.1.png?version=71f72aea4b0cec8867cd2dfd3eb5b1c9);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}
h1{
   font-weight: 10;
    color: white;
    text-transform: capitalize;
    color: rgb(54, 123, 255);
    
}
h2{
    margin: 100px 0px 100px 0px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(54, 123, 255);
}
.para{
    line-height: 35px;
    font-weight: 540;

}
.Centered_para {
    max-width: 700px;
    margin: 0px auto 0px auto;
}

.Centered_list {
    max-width: 1000px;
    margin: 0px auto 0px auto;
}
